@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl font-bold;
    }
    h2 {
        @apply text-lg font-medium sm:text-xl lg:text-2xl;
    }

    h3 {
        @apply text-lg font-semibold lg:text-xl;
    }
    h4 {
        @apply text-base font-semibold;
    }
    p {
        @apply text-base font-normal;
    }
    a {
        @apply text-base font-normal text-blue-500;
    }
}

.container {
    @apply w-full px-4 sm:w-full sm:max-w-none sm:px-6 md:mx-auto md:max-w-[768px] md:px-8 lg:mx-auto lg:max-w-none lg:px-10 xl:mx-auto xl:max-w-[1280px] xl:px-20 2xl:mx-auto 2xl:max-w-[1536px] 2xl:px-24;
}
